@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667EEA, #764BA2);
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background: #1c1c1c;
    color: #f5f5f5;
}

.container {
    width: 350px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.app-title h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
}

.notification {
    background-color: #f8d7da;
    display: none;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}

.notification p {
    color: #721c24;
    font-size: 1em;
}

.weather-container {
    padding: 15px;
}

.weather-icon img {
    width: 100px;
    transition: transform 0.3s;
}

.weather-icon img:hover {
    transform: scale(1.1);
}

.temperature-value p {
    font-size: 3em;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.temperature-value span {
    font-size: 0.6em;
}

.temperature-value p:hover {
    transform: scale(1.1);
}

.temperature-description p,
.location p,
.wind-speed p {
    font-size: 1.2em;
    color: #fff;
    margin-top: 5px;
}

#toggle-mode {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#toggle-mode:hover {
    background-color: #ddd;
}
